[LinePara]
ChannelAccessToken = "kZTCbdn5/EvZydKKg+oH+n223V3M0vm9uvrbvM/HJ6ufGBOR2njWlzwJHyIknRW1JotDfJd2Wn+sQasxJSgP3oSR+c/PP8u6aQKWWdQK8uQnr9b+0+4nt0S07glmQFBeLvnD+RjDbNzUoTMLVD/NDQdB04t89/1O/w1cDnyilFU="
ChannelSecret = "03b9411218421394f2626d4fe6c78e71"

[WebSocket]
URL = "ws://127.0.0.1:8888/track"
